{% extends "backend/layout.html.twig" %}
{% import "backend/makros.html.twig" as makros %}

{% block content %}

    <div class="entry-block">
        <div class="property col-md-12">
            <h2>Steckbrief</h2>
        </div>

        <div class="property-group">
            <div class="col-md-2">
                <img class="img-responsive" src="/images/portraits/{{ person.getPerson.picture_src }}"/>
            </div>
            <div class="col-md-10">
                <div class="property-group">
                    {{ makros.property_block("Vorname", person.getPerson.first_name, 3) }}
                    {{ makros.property_block("Nachname", person.getPerson.last_name, 3) }}
                    {{ makros.property_block("Alter", person.getAge, 3) }}
                </div>
                <hr/>

                <div class="property-group">
                    {{ makros.property_block("Strasse & Nr", person.getPerson.street_and_nr, 3) }}
                    {{ makros.property_block("Adresszeile 2", person.getPerson.address_line_2, 3) }}
                    {{ makros.property_block("Plz", person.getPerson.plz, 2) }}
                    {{ makros.property_block("Ort", person.getPerson.place, 2) }}
                    {{ makros.property_block("Land", person.getPerson.land, 2) }}
                </div>
                <hr/>

                <div class="property-group">
                    {{ makros.property_block("Email", person.getPerson.email, 4) }}
                    {{ makros.property_block("Mobile", person.getPerson.mobile, 4) }}
                </div>
                <hr/>

                <div class="property-group">
                    {{ makros.property_block("Kommentar", person.getPerson.comment, 12) }}
                </div>
            </div>
        </div>
        <hr/>
        <div class="property col-md-12">
            <h2>Beruf</h2>
        </div>
        <div class="property-group">
            <div class="col-md-12">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Beruf</th>
                        <th>Ausbildung</th>
                        <th>Berufserfahrung</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for profession in person.getProfessionInfoModels %}
                        <tr>
                            <td>{{ profession.getProfessionName }}</td>
                            <td>{{ profession.getTrainingName }}</td>
                            <td>{{ profession.getExperience }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <hr/>
        <div class="property col-md-12">
            <h2>Skills</h2>
        </div>
        <div class="property-group">
            <div class="col-md-12">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Skill</th>
                        <th>Wert</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% if person.getSkillInfoModels|length  > 0 %}
                        {% for skill in person.getSkillInfoModels %}
                            <tr>
                                <td>{{ skill.getSkill.name }}</td>
                                <td>{{ skill.getSkillValue }}</td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        hallo welt
                    {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
        <hr/>
        <div class="property col-md-12">
            <h2>Verfügbarkeit</h2>
        </div>
        <div class="property-group">
            <div class="col-md-12">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Anfang</th>
                        <th>Ende</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for availability in person.getAvailabilityModels %}
                        <tr>
                            <td>{{ availability.getStartDate }}</td>
                            <td>{{ availability.getEndDate }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

    </div>
{% endblock %}
